@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }


/* forms */

p{font-family: 'YuGothic';}

ul li {
    list-style: none;
    label {
    margin-right: 10px;
    width:100px;
    float: left;
    }
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 10%;
    margin-bottom: 15px;
    @include box_sizing;
  }

input {
    height: auto !important;
}

  